 .u-section-1 {
  background-image: url("images/img10.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 3698px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 28px auto 0;
}

.u-section-1 .u-image-1 {
  width: 900px;
  height: 506px;
  margin: 12px auto 0;
}

.u-section-1 .u-image-2 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-3 {
  width: 900px;
  height: 506px;
  margin: 17px auto 0;
}

.u-section-1 .u-image-4 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-5 {
  width: 900px;
  height: 505px;
  object-position: 0% 50%;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 26px auto 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 47px auto 0;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 41px;
}

.u-section-1 .u-text-4 {
  margin: 64px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 10px 32px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 0;
  padding: 10px 30px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 28px;
  padding: 10px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3752px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 547px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1031px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 547px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 273px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 273px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 429px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 387px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 387px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 29px;
    margin-left: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3256px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 405px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 405px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 405px;
    margin-top: 20px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 404px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 71px;
    align-self: center;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 402px;
    align-self: center;
  }

  .u-section-1 .u-text-4 {
    margin-top: 178px;
    margin-left: 328px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 167px;
    align-self: center;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 167px;
    align-self: center;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 167px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3263px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 304px;
    margin-top: 337px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 304px;
    margin-top: -622px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 304px;
    margin-top: 1309px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 96px;
    margin-left: 246px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2763px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
    margin-top: 225px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 191px;
    margin-top: -397px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 191px;
    margin-top: 1196px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 99px;
    margin-left: 155px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 31px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-2 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 114px;
    margin-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    margin: 31px auto 0;
  }

  .u-section-2 .u-btn-2 {
    margin: 9px auto 49px;
    padding: 10px 41px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-left: -53px;
    margin-right: -53px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: -53px;
    margin-right: -53px;
  }
}