 .u-section-1 {
  background-image: url("images/img28.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 4405px;
}

.u-section-1 .u-text-1 {
  width: 413px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 28px auto 0;
}

.u-section-1 .u-image-1 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-2 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-3 {
  width: 900px;
  height: 505px;
  object-position: 0% 50%;
  margin: 17px auto 0;
}

.u-section-1 .u-image-4 {
  width: 903px;
  height: 506px;
  object-position: 0% 50%;
  margin: 16px auto 0;
}

.u-section-1 .u-image-5 {
  width: 904px;
  height: 508px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-6 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 28px 86px 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  align-self: center;
  margin: 45px auto 0;
  padding: 10px 8px;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  align-self: center;
  margin: 9px auto 0;
  padding: 10px 63px 10px 62px;
}

.u-section-1 .u-text-4 {
  margin: 86px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: center;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: center;
  margin: 6px auto 0;
  padding: 10px 30px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 60px;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3632px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3897px;
  }

  .u-section-1 .u-text-1 {
    width: 412px;
    margin-top: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 404px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 404px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 720px;
    height: 405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 43px;
    margin-right: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3341px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4933px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: 254px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -72px;
    margin-right: -72px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -72px;
    margin-right: -72px;
    padding-left: 41px;
    padding-right: 41px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 63px;
  }
}