 .u-section-1 {
  background-image: url("images/windows-10-original-1366x768.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 10307px;
}

.u-section-1 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 28px auto 0;
}

.u-section-1 .u-image-1 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-2 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-3 {
  width: 450px;
  height: 292px;
  object-position: 0% 50%;
  margin: 16px auto 0 120px;
}

.u-section-1 .u-image-4 {
  width: 440px;
  height: 289px;
  object-position: 5.63% 50%;
  margin: -292px auto 0 580px;
}

.u-section-1 .u-text-3 {
  margin: 31px 0 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: center;
  background-image: none;
  margin: 43px auto 0;
}

.u-section-1 .u-text-4 {
  width: 391px;
  margin: 89px auto 0;
}

.u-section-1 .u-image-5 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-6 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-7 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-8 {
  width: 901px;
  height: 507px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-5 {
  width: 865px;
  margin: 28px auto 0;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: center;
  background-image: none;
  margin: 43px auto 0;
}

.u-section-1 .u-text-6 {
  width: 415px;
  margin: 90px auto 0;
}

.u-section-1 .u-image-9 {
  width: 900px;
  height: 506px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-10 {
  width: 900px;
  height: 506px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-11 {
  width: 900px;
  height: 505px;
  object-position: 0% 50%;
  margin: 20px auto 0;
}

.u-section-1 .u-image-12 {
  width: 903px;
  height: 506px;
  object-position: 0% 50%;
  margin: 20px auto 0;
}

.u-section-1 .u-image-13 {
  width: 904px;
  height: 508px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-14 {
  width: 900px;
  height: 506px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 29px 86px 0;
}

.u-section-1 .u-btn-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: center;
  background-image: none;
  margin: 43px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 43px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 10px 32px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 0;
  padding: 10px 30px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 0;
  padding: 10px 37px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 60px;
  padding: 10px 44px 10px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 10355px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 15px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 480px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 89px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    margin-top: 29px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 1072px;
  }

  .u-section-1 .u-image-12 {
    margin-top: -1557px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 1071px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -2611px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 2133px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 47px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 7px;
  }

  .u-section-1 .u-btn-7 {
    margin-bottom: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 9513px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 320px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -596px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 336px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 405px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 90px;
  }

  .u-section-1 .u-image-9 {
    height: 405px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-10 {
    height: 405px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-11 {
    height: 381px;
    width: 680px;
    margin-top: 15px;
  }

  .u-section-1 .u-image-12 {
    height: 403px;
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-13 {
    height: 405px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-14 {
    height: 405px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 29px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 44px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 9px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 9px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 9px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6018px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -3659px;
  }

  .u-section-1 .u-image-1 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 147px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 1123px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    margin-top: -989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 222px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    width: 540px;
    height: 303px;
    margin-top: 222px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 222px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    margin-top: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -2193px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5681px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    height: 221px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 223px;
    margin-top: -525px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 260px;
  }

  .u-section-1 .u-image-9 {
    height: 191px;
    margin-top: 59px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 191px;
    margin-top: 335px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 191px;
    margin-top: 335px;
    width: 340px;
  }

  .u-section-1 .u-image-12 {
    height: 190px;
    margin-top: 334px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    height: 191px;
    margin-top: 336px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -1761px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 62px;
  }
}