 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 8012px;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 28px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 28px auto 0;
}

.u-section-1 .u-image-1 {
  width: 900px;
  height: 506px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-2 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-3 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-4 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 28px auto 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 46px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 120px auto 0;
}

.u-section-1 .u-image-5 {
  width: 900px;
  height: 506px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-6 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 28px auto 0;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 46px auto 0;
}

.u-section-1 .u-btn-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 26px;
}

.u-section-1 .u-text-7 {
  margin: 120px auto 0;
}

.u-section-1 .u-image-7 {
  width: 900px;
  height: 506px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-8 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-9 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 28px auto 0;
}

.u-section-1 .u-btn-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 46px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-6 {
    margin-left: 92px;
    margin-right: 92px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7103px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 405px;
    margin-top: 0;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 405px;
    margin-top: 0;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 405px;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-1 .u-image-5 {
    width: 680px;
    height: 405px;
    margin-top: 0;
  }

  .u-section-1 .u-image-6 {
    width: 680px;
    height: 405px;
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-1 .u-image-7 {
    width: 680px;
    height: 405px;
    margin-top: 0;
  }

  .u-section-1 .u-image-8 {
    width: 680px;
    height: 405px;
    margin-top: 0;
  }

  .u-section-1 .u-image-9 {
    width: 680px;
    height: 405px;
    margin-top: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6194px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-text-5 {
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-1 .u-image-5 {
    width: 500px;
    height: 304px;
  }

  .u-section-1 .u-image-6 {
    width: 500px;
    height: 304px;
  }

  .u-section-1 .u-text-6 {
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-1 .u-text-7 {
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-1 .u-image-7 {
    width: 500px;
    height: 304px;
  }

  .u-section-1 .u-image-8 {
    width: 500px;
    height: 304px;
  }

  .u-section-1 .u-image-9 {
    width: 500px;
    height: 304px;
  }

  .u-section-1 .u-text-8 {
    margin-left: -250px;
    margin-right: -250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5177px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-5 {
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-1 .u-image-5 {
    width: 300px;
    height: 191px;
  }

  .u-section-1 .u-image-6 {
    width: 300px;
    height: 191px;
  }

  .u-section-1 .u-text-6 {
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-1 .u-text-7 {
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-1 .u-image-7 {
    width: 300px;
    height: 191px;
  }

  .u-section-1 .u-image-8 {
    width: 300px;
    height: 191px;
  }

  .u-section-1 .u-image-9 {
    width: 300px;
    height: 191px;
  }

  .u-section-1 .u-text-8 {
    margin-left: -150px;
    margin-right: -150px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-btn-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-btn-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 114px;
    margin-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    margin: 28px auto 0;
  }

  .u-section-2 .u-btn-2 {
    margin: 11px auto 0;
  }

  .u-section-2 .u-btn-3 {
    margin: 11px auto 0;
  }

  .u-section-2 .u-btn-4 {
    margin: 11px auto 60px;
    padding: 10px 26px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-left: -71px;
    margin-right: -71px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: -71px;
    margin-right: -71px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: -95px;
    margin-right: -95px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: -95px;
    margin-right: -95px;
  }
}