 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1751px;
}

.u-section-1 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 12px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 317px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 558px;
  height: 317px;
  margin: -317px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 320px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 558px;
  height: 320px;
  margin: -320px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 29px auto 0 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 33px auto 0 277px;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 617px;
}

.u-section-1 .u-text-4 {
  margin: 31px auto 0;
}

.u-section-1 .u-btn-3 {
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  margin: 11px auto 0;
  padding: 10px 29px 10px 28px;
}

.u-section-1 .u-btn-5 {
  margin: 11px auto 29px;
  padding: 10px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
    margin-left: 185px;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-right: auto;
    margin-left: 185px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 177px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 517px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2453px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 67px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 406px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 6px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2527px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 300px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 307px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 310px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 9px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 11px;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2200px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 189px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 193px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 195px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 6px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 6px;
    margin-bottom: 18px;
  }
}