 .u-section-1 {
  background-image: url("images/img10.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 3698px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 28px auto 0;
}

.u-section-1 .u-image-1 {
  width: 900px;
  height: 506px;
  margin: 12px auto 0;
}

.u-section-1 .u-image-2 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-3 {
  width: 900px;
  height: 506px;
  margin: 17px auto 0;
}

.u-section-1 .u-image-4 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-5 {
  width: 900px;
  height: 505px;
  object-position: 0% 50%;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 47px auto 0 179px;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 41px;
}

.u-section-1 .u-text-4 {
  margin: 64px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 10px 32px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 0;
  padding: 10px 30px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 28px;
  padding: 10px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3752px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 547px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1031px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 547px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 204px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 273px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 429px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 387px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 387px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 29px;
    margin-left: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3415px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 405px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 405px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 404px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 178px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-left: auto;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2967px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-3 {
    height: 304px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    height: 304px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    height: 304px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
  }

  .u-section-1 .u-btn-3 {
    align-self: center;
  }

  .u-section-1 .u-btn-4 {
    align-self: center;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2478px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-3 {
    height: 191px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 191px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 191px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
    margin-left: -53px;
    margin-right: -53px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -53px;
    margin-right: -53px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 123px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 28px;
  }
}