.u-section-1 .u-sheet-1 {
  min-height: 1641px;
}

.u-section-1 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 12px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 317px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 558px;
  height: 317px;
  margin: -317px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 320px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 558px;
  height: 320px;
  margin: -320px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 31px auto 0;
}

.u-section-1 .u-btn-2 {
  margin: 0 auto 0 351px;
}

.u-section-1 .u-btn-3 {
  margin: -45px auto 31px 576px;
  padding: 10px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
    margin-left: 185px;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-right: auto;
    margin-left: 185px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 256px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2422px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 11px;
    margin-left: auto;
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2454px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 300px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 307px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 310px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 31px;
    padding-right: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2154px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 189px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 193px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 195px;
  }
}