.u-section-1 .u-sheet-1 {
  min-height: 1916px;
}

.u-section-1 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 12px auto 0;
}

.u-section-1 .u-image-1 {
  width: 568px;
  height: 319px;
  margin: 8px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 562px;
  height: 319px;
  margin: -319px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 319px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 562px;
  height: 319px;
  margin: -319px 0 0 auto;
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 320px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 562px;
  height: 320px;
  margin: -320px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 44px auto 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 44px;
  padding: 10px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2927px;
  }

  .u-section-1 .u-image-1 {
    height: 318px;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    height: 318px;
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    width: 470px;
    height: 264px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2943px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-5 {
    width: 562px;
    height: 309px;
    margin-top: 344px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -641px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-bottom: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2924px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 302px;
  }

  .u-section-1 .u-image-2 {
    height: 306px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 303px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 307px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 303px;
    margin-top: 346px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 307px;
    margin-top: -629px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 322px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2493px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 190px;
  }

  .u-section-1 .u-image-2 {
    height: 190px;
    width: 100%;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    height: 190px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 190px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 190px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 41px;
    margin-right: -9px;
    margin-bottom: 32px;
  }
}