 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 12433px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 28px auto 0;
}

.u-section-1 .u-image-1 {
  width: 900px;
  height: 506px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-2 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 28px auto 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 46px auto 0;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 26px;
}

.u-section-1 .u-btn-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 41px;
}

.u-section-1 .u-btn-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 37px;
}

.u-section-1 .u-btn-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 43px 10px 42px;
}

.u-section-1 .u-btn-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 39px 10px 38px;
}

.u-section-1 .u-text-4 {
  margin: 120px auto 0;
}

.u-section-1 .u-image-3 {
  width: 900px;
  height: 506px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-4 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-5 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-6 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 28px auto 0;
}

.u-section-1 .u-btn-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 46px auto 0;
}

.u-section-1 .u-btn-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 41px;
}

.u-section-1 .u-btn-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 43px 10px 42px;
}

.u-section-1 .u-text-6 {
  margin: 120px auto 0;
}

.u-section-1 .u-image-7 {
  width: 900px;
  height: 506px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-8 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-9 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 28px auto 0;
}

.u-section-1 .u-btn-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 46px auto 0;
}

.u-section-1 .u-btn-11 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 41px;
}

.u-section-1 .u-btn-12 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
  padding: 10px 43px 10px 42px;
}

.u-section-1 .u-text-8 {
  margin: 120px auto 0;
}

.u-section-1 .u-image-10 {
  width: 900px;
  height: 506px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-11 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 28px auto 0;
}

.u-section-1 .u-btn-13 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 46px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 120px auto 0;
}

.u-section-1 .u-image-12 {
  width: 900px;
  height: 506px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-13 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 28px auto 0;
}

.u-section-1 .u-btn-14 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-left: 92px;
    margin-right: 92px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 169px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 168px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 92px;
    margin-right: 92px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 92px;
    margin-right: 92px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 10899px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-1 .u-image-1 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 405px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 405px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 405px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: 405px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 405px;
    margin-top: -328px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 45px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 120px;
  }

  .u-section-1 .u-image-7 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 405px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: 405px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 45px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 9px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 120px;
  }

  .u-section-1 .u-image-10 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-11 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 121px;
  }

  .u-section-1 .u-image-12 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-13 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 9682px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-1 .u-image-1 {
    height: 306px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 304px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 121px;
  }

  .u-section-1 .u-image-3 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 304px;
    margin-top: -304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 121px;
  }

  .u-section-1 .u-image-7 {
    height: 306px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 306px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 121px;
  }

  .u-section-1 .u-image-10 {
    height: 304px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    height: 304px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: -4px;
    margin-right: -4px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 71px;
  }

  .u-section-1 .u-image-12 {
    height: 304px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-13 {
    height: 304px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: -3px;
    margin-right: -3px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 8886px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
    margin-left: -95px;
    margin-right: -95px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-left: -95px;
    margin-right: -95px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -95px;
    margin-right: -95px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 10px;
    margin-left: -95px;
    margin-right: -95px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 10px;
    margin-left: -95px;
    margin-right: -95px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 10px;
    margin-left: -95px;
    margin-right: -95px;
  }

  .u-section-1 .u-text-4 {
    margin-left: -4px;
    margin-right: -4px;
  }

  .u-section-1 .u-image-3 {
    height: 191px;
    width: 340px;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 191px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 191px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 191px;
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: -24px;
    margin-right: -24px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: -71px;
    margin-right: -71px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 10px;
    margin-left: -71px;
    margin-right: -71px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 9px;
    margin-left: -71px;
    margin-right: -71px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 120px;
    margin-left: -4px;
    margin-right: -4px;
  }

  .u-section-1 .u-image-7 {
    height: 191px;
    width: 340px;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 191px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    height: 191px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 29px;
    margin-left: -24px;
    margin-right: -24px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 21px;
    margin-left: -71px;
    margin-right: -71px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 10px;
    margin-left: -71px;
    margin-right: -71px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: -71px;
    margin-right: -71px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-image-10 {
    height: 191px;
    width: 340px;
    margin-top: 7px;
  }

  .u-section-1 .u-image-11 {
    height: 191px;
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-right: auto;
    margin-left: -25px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -4px;
    margin-left: -72px;
    margin-right: -72px;
  }

  .u-section-1 .u-text-10 {
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-1 .u-image-12 {
    height: 191px;
    width: 340px;
  }

  .u-section-1 .u-image-13 {
    height: 191px;
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    margin-left: -35px;
    margin-right: -35px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: -72px;
    margin-right: -72px;
  }
}