 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4867px;
}

.u-section-1 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 12px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 317px;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 565px;
  height: 317px;
  margin: -317px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 565px;
  height: 317px;
  margin: 6px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 565px;
  height: 317px;
  margin: -317px 6px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 30px -1px 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 98px auto 0;
}

.u-section-1 .u-image-5 {
  width: 565px;
  height: 320px;
  margin: 31px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 320px;
  margin: -320px 0 0 auto;
}

.u-section-1 .u-image-7 {
  width: 565px;
  height: 320px;
  margin: 5px auto 0 0;
}

.u-section-1 .u-image-8 {
  width: 571px;
  height: 320px;
  margin: -320px -1px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 99px auto 0;
}

.u-section-1 .u-image-9 {
  width: 569px;
  height: 320px;
  margin: 31px auto 0 0;
}

.u-section-1 .u-image-10 {
  width: 570px;
  height: 320px;
  margin: -320px 0 0 auto;
}

.u-section-1 .u-image-11 {
  height: 641px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 23px auto 0;
}

.u-section-1 .u-btn-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 3px auto 0;
  padding: 10px 32px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 34px;
  padding: 10px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6457px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-image-7 {
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 6px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 44px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-top: 5px;
    margin-right: auto;
  }

  .u-section-1 .u-image-11 {
    height: 525px;
    margin-top: 12px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 126px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -147px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6496px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 154px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-11 {
    height: 405px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6597px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 300px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 113px;
  }

  .u-section-1 .u-image-5 {
    height: 306px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 303px;
    margin-top: 6px;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 306px;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 303px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 113px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 304px;
    margin-top: 30px;
  }

  .u-section-1 .u-image-10 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-11 {
    height: 300px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 65px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5873px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 189px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-5 {
    height: 191px;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-top: 29px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 103px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-image-9 {
    height: 191px;
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-10 {
    height: 191px;
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-11 {
    height: 191px;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 36px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 121px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 117px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -98px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -98px;
  }
}