 .u-section-1 {
  background-image: url("images/img3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 6866px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  width: 462px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-1 {
  width: 902px;
  height: 507px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  width: 902px;
  height: 507px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  width: 473px;
  margin: 89px auto 0;
}

.u-section-1 .u-image-3 {
  width: 902px;
  height: 507px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-4 {
  width: 902px;
  height: 507px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 45px auto 0;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 70px auto 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  width: 398px;
  margin: 89px auto 0;
}

.u-section-1 .u-image-5 {
  width: 901px;
  height: 507px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-6 {
  width: 901px;
  height: 507px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-7 {
  width: 901px;
  height: 507px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-8 {
  width: 901px;
  height: 507px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-9 {
  width: 516px;
  height: 285px;
  margin: 16px auto 0 578px;
}

.u-section-1 .u-image-10 {
  width: 516px;
  height: 285px;
  object-position: 0% 50%;
  margin: -285px auto 0 46px;
}

.u-section-1 .u-text-7 {
  margin: 28px auto 0;
}

.u-section-1 .u-btn-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 45px auto 0;
}

.u-section-1 .u-text-8 {
  width: 134px;
  margin: 89px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 44px;
  padding: 10px 44px 10px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7644px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 45px;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 45px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 98px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 11px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 529px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -1025px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 825px;
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-top: -581px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 324px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6994px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-1 .u-image-1 {
    height: 405px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 405px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-image-3 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 405px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 405px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 405px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    height: 405px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: 405px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    margin-top: 309px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -582px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 325px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6181px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-image-1 {
    height: 304px;
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 304px;
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 28px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-image-3 {
    height: 304px;
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 304px;
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
  }

  .u-section-1 .u-image-5 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 303px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 305px;
    width: 542px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-btn-3 {
    align-self: center;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5438px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -72px;
    margin-right: -72px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -92px;
    margin-right: -92px;
  }

  .u-section-1 .u-image-5 {
    height: 191px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 191px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    height: 191px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 191px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    height: 188px;
    margin-top: 216px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-10 {
    height: 188px;
    width: 340px;
    margin-top: -390px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 247px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -68px;
    margin-right: -68px;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 44px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 63px;
  }
}