 .u-section-1 {
  background-image: url("images/windows-10-original-1366x768.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2642px;
}

.u-section-1 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 28px auto 0;
}

.u-section-1 .u-image-1 {
  width: 900px;
  height: 506px;
  margin: 12px auto 0;
}

.u-section-1 .u-image-2 {
  width: 900px;
  height: 505px;
  margin: 12px auto 0;
}

.u-section-1 .u-image-3 {
  height: 506px;
  width: 900px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 26px auto 0 199px;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 47px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 90px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 10px 32px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 0;
  padding: 10px 30px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 0;
  padding: 10px 37px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 29px;
  padding: 10px 44px 10px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2044px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2177px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 404px;
  }

  .u-section-1 .u-image-3 {
    height: 405px;
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2011px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-3 {
    height: 304px;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1786px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 191px;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -1px;
    margin-right: -1px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 114px;
    margin-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    margin: 31px auto 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-left: -1px;
    margin-right: -1px;
  }
}