 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2151px;
}

.u-section-1 .u-text-1 {
  margin: 32px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 12px auto 0;
}

.u-section-1 .u-image-1 {
  width: 560px;
  height: 315px;
  margin: 31px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 560px;
  height: 315px;
  margin: -314px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 560px;
  height: 314px;
  object-position: 0% 50%;
  margin: 13px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 560px;
  height: 314px;
  margin: -314px 0 0 auto;
}

.u-section-1 .u-image-5 {
  width: 560px;
  height: 315px;
  margin: 13px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 560px;
  height: 315px;
  margin: -315px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 46px auto 0 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 31px auto 0 249px;
  padding: 10px 47px;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 610px;
  padding: 10px 47px;
}

.u-section-1 .u-text-4 {
  margin: 31px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 0;
  padding: 10px 30px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px auto 32px;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3169px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 53px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 149px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 510px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 40px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3206px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 25px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2431px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -4px;
    margin-right: -4px;
  }
}