 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1966px;
}

.u-section-1 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 29px auto 0;
}

.u-section-1 .u-image-1 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-2 {
  width: 900px;
  height: 506px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 29px 0 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 8px auto 0;
  padding: 10px 41px;
}

.u-section-1 .u-btn-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 8px auto 51px;
  padding: 10px 43px 10px 42px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1764px;
  }

  .u-section-1 .u-image-1 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 405px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1658px;
  }

  .u-section-1 .u-image-1 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1622px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: -42px;
    margin-right: -42px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -47px;
    margin-right: -47px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -47px;
    margin-right: -47px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -47px;
    margin-right: -47px;
  }
}