 .u-section-1 {
  background-image: url("images/background.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1326px;
}

.u-section-1 .u-text-1 {
  font-size: 1.6875rem;
  margin: 30px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 29px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-text-5 {
  margin: 51px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 51px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1283px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1565px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}