 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4927px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 28px 48px 0;
}

.u-section-1 .u-text-3 {
  margin: 74px auto 0;
}

.u-section-1 .u-image-1 {
  width: 994px;
  height: 452px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 48px auto 0;
}

.u-section-1 .u-image-2 {
  width: 996px;
  height: 452px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 48px 114px 0;
}

.u-section-1 .u-image-3 {
  width: 996px;
  height: 414px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 48px auto 0;
}

.u-section-1 .u-image-4 {
  width: 996px;
  height: 500px;
  margin: 6px auto 0;
}

.u-section-1 .u-image-5 {
  width: 1044px;
  height: 500px;
  object-position: 0% 50%;
  margin: -7px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 48px auto 0;
}

.u-section-1 .u-image-6 {
  width: 996px;
  height: 560px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 48px auto 0;
}

.u-section-1 .u-image-7 {
  width: 996px;
  height: 560px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 48px auto 0;
}

.u-section-1 .u-image-8 {
  width: 996px;
  height: 560px;
  margin: 6px auto 48px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4679px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 428px;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 427px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 390px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 940px;
    height: 471px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 940px;
    height: 450px;
    margin-top: 22px;
  }

  .u-section-1 .u-image-6 {
    width: 940px;
    height: 528px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    width: 940px;
    height: 528px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    width: 940px;
    height: 528px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3801px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 328px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 327px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 299px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 361px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 345px;
  }

  .u-section-1 .u-image-6 {
    width: 720px;
    height: 404px;
  }

  .u-section-1 .u-image-7 {
    width: 720px;
    height: 404px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-8 {
    width: 720px;
    height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3083px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 246px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 245px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 224px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 271px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 259px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2286px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 155px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 154px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 141px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 171px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 163px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 191px;
  }
}