 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3571px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 118px auto 0;
}

.u-section-1 .u-image-1 {
  width: 909px;
  height: 511px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 49px auto 0;
}

.u-section-1 .u-image-2 {
  width: 909px;
  height: 511px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 49px auto 0;
}

.u-section-1 .u-image-3 {
  width: 909px;
  height: 511px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 49px 21px 0;
}

.u-section-1 .u-text-6 {
  margin: 49px 92px 0;
}

.u-section-1 .u-image-4 {
  width: 959px;
  height: 539px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 49px 87px 0;
}

.u-section-1 .u-image-5 {
  width: 959px;
  height: 539px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 91px auto 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 3px auto 60px;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3658px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 92px;
    margin-right: 92px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-1 .u-image-4 {
    width: 940px;
    height: 528px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-5 {
    width: 940px;
    height: 528px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3092px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: 536px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 404px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2587px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 303px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2538px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: 248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 191px;
  }
}