 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-btn-1 {
  align-self: center;
  margin: 71px auto 0;
  padding: 10px 75px 10px 74px;
}

.u-section-1 .u-btn-2 {
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 69px 10px 67px;
}

.u-section-1 .u-btn-3 {
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 47px 10px 46px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 60px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 50px 10px 48px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 0.875rem;
  align-self: center;
  margin: 12px auto 0;
  padding: 11px 44px 12px 43px;
}

.u-section-1 .u-btn-7 {
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 95px 10px 94px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  margin: 12px auto 60px;
  padding: 10px 85px;
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-7 {
    padding-left: 93px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-7 {
    margin-left: 0;
    margin-right: 0;
  }
}