 .u-section-1 {
  background-image: url("images/img19_1920x1200.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 623px;
}

.u-section-1 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 64px auto 0 575px;
  padding: 10px 25px 10px 24px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 334px;
  padding: 10px 45px 10px 43px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 334px;
  padding: 10px 37px 10px 36px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 576px;
  padding: 10px 37px 10px 36px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 333px;
  padding: 10px 39px 10px 38px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 576px;
  padding: 10px 39px 10px 38px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 576px;
  padding: 10px 20px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 333px;
  padding: 10px 36px 10px 35px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 332px;
  padding: 10px 32px 10px 31px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px 333px 60px auto;
  padding: 10px 50px 10px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: auto;
    margin-right: 33px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 230px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 231px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 231px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 479px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 231px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 479px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 480px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 231px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 132px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 129px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 122px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 122px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 130px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 122px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 130px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 130px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 122px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 278px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 31px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 31px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 31px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 31px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 31px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 31px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-left: auto;
  }
}