 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1715px;
}

.u-section-1 .u-text-1 {
  margin: 167px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 15px auto 0 575px;
  padding: 10px 36px 10px 35px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 335px;
  padding: 10px 45px 10px 43px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 336px;
  padding: 10px 37px 10px 36px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 575px;
  padding: 10px 37px 10px 36px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 336px;
  padding: 10px 39px 10px 38px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 575px;
  padding: 10px 39px 10px 38px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 101px 81px 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 88px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 134px auto 0;
}

.u-section-1 .u-btn-7 {
  align-self: center;
  margin: 24px auto 0;
  padding: 10px 75px 10px 74px;
}

.u-section-1 .u-btn-8 {
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 69px 10px 67px;
}

.u-section-1 .u-btn-9 {
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 47px 10px 46px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 60px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 50px 10px 48px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-size: 0.875rem;
  align-self: center;
  margin: 12px auto 0;
  padding: 11px 44px 12px 43px;
}

.u-section-1 .u-btn-13 {
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 95px 10px 94px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  margin: 12px auto 60px;
  padding: 10px 58px 10px 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 17px;
    margin-left: 478px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 233px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 233px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 478px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 233px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 478px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 63px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-left: 368px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 122px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 11px;
    margin-left: 123px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 368px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 11px;
    margin-left: 123px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 368px;
  }

  .u-section-1 .u-text-2 {
    width: 558px;
    margin-top: 119px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1820px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 117px;
    margin-left: 283px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -153px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 9px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -99px;
    margin-left: 283px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 63px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -99px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-2 {
    width: 378px;
    margin-top: 134px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 106px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 71px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 11px;
  }

  .u-section-1 .u-btn-14 {
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1942px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 307px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -320px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 92px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 92px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 72px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: -1px;
    margin-right: -1px;
  }
}