 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1552px;
}

.u-section-1 .u-text-1 {
  margin: 94px auto 0 35px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: -25px 120px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -39px auto 0 135px;
  padding: 10px 45px 10px 43px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 378px;
  padding: 10px 36px 10px 35px;
}

.u-section-1 .u-btn-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  letter-spacing: 0px;
  background-image: none;
  margin: 51px 94px 0 auto;
  padding: 17px 48px 18px 47px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -102px auto 0 135px;
  padding: 10px 37px 10px 36px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 378px;
  padding: 10px 37px 10px 36px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 8px auto 0 135px;
  padding: 10px 39px 10px 38px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -45px auto 0 378px;
  padding: 10px 39px 10px 38px;
}

.u-section-1 .u-btn-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  letter-spacing: 0px;
  background-image: none;
  margin: -124px 94px 0 auto;
  padding: 17px 39px 18px 38px;
}

.u-section-1 .u-btn-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  letter-spacing: 0px;
  background-image: none;
  margin: 76px 94px 0 auto;
  padding: 17px 37px 18px 36px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 69px 81px 0;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 154px auto 0;
}

.u-section-1 .u-btn-10 {
  align-self: center;
  background-image: none;
  margin: 0 auto;
  padding: 10px 75px 10px 74px;
}

.u-section-1 .u-btn-11 {
  align-self: center;
  background-image: none;
  margin: 12px auto 0;
  padding: 10px 69px 10px 67px;
}

.u-section-1 .u-btn-12 {
  align-self: center;
  background-image: none;
  margin: 12px auto 0;
  padding: 10px 47px 10px 46px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 60px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 50px 10px 48px;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-size: 0.875rem;
  align-self: center;
  margin: 12px auto 0;
  padding: 11px 44px 12px 43px;
}

.u-section-1 .u-btn-16 {
  align-self: center;
  margin: 12px auto 0;
  padding: 10px 95px 10px 94px;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  margin: 12px auto 60px;
  padding: 10px 58px 10px 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 104px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 195px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -259px;
    margin-left: 231px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 479px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 271px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -322px;
    margin-left: 231px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 479px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 9px;
    margin-left: 231px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 479px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 94px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 78px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 71px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1697px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 262px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -313px;
    margin-left: 122px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 368px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 337px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -386px;
    margin-left: 123px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 368px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 11px;
    margin-left: 123px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 368px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 156px;
  }

  .u-section-1 .u-text-3 {
    width: 558px;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 99px;
  }

  .u-section-1 .u-btn-17 {
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 207px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -272px;
    margin-left: 34px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 63px;
    margin-left: 276px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 178px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -337px;
    margin-left: 34px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -99px;
    margin-left: 276px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 63px;
    margin-left: 34px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -99px;
    margin-left: 276px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 163px;
  }

  .u-section-1 .u-text-3 {
    width: 378px;
    margin-top: 82px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 90px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 11px;
  }

  .u-section-1 .u-btn-17 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1808px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 378px;
    margin-left: 56px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -422px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 230px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 169px;
    margin-left: 33px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -494px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 157px;
    margin-left: 33px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 74px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 35px;
    margin-right: -9px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-6 {
    font-size: 3rem;
    margin-top: 10px;
    margin-right: -10px;
    margin-left: -6px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 23px;
  }
}