 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 763px;
}

.u-section-1 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 29px 14px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}