 .u-section-1 {
  background-image: url("images/oldps.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1944px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 29px 25px 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 8px auto 0;
}

.u-section-1 .u-btn-2 {
  margin: 8px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 110px 661px 0 311px;
}

.u-section-1 .u-text-4 {
  font-weight: normal;
  margin: -39px auto 0 649px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 8px auto 0 245px;
  padding: 10px 80px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: -45px 243px 0 auto;
  padding: 10px 99px 10px 97px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: 8px auto 0 245px;
  padding: 10px 54px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: -45px auto 0 598px;
  padding: 10px 95px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  margin: 8px auto 0 245px;
  padding: 10px 115px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  margin: -45px auto 0 598px;
  padding: 10px 94px 10px 93px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 104px auto 0 327px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -39px 319px 0 auto;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  margin: 8px auto 0 245px;
  padding: 10px 111px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  margin: -45px auto 0 596px;
  padding: 10px 104px 10px 103px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  margin: 8px auto 0 245px;
  padding: 10px 75px 10px 74px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  margin: -45px auto 0 596px;
  padding: 10px 110px 10px 109px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  margin: 8px 245px 0 auto;
  padding: 10px 89px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  margin: 8px 245px 0 auto;
  padding: 10px 76px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 51px 305px 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -39px auto 0 286px;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  margin: 8px auto 0 245px;
  padding: 10px 107px;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  margin: -45px 245px 0 auto;
  padding: 10px 87px 10px 86px;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  margin: 8px auto 0 245px;
  padding: 10px 98px 10px 97px;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  margin: -45px 246px 0 auto;
  padding: 10px 42px 10px 40px;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  margin: 8px auto 0 245px;
  padding: 10px 100px 10px 98px;
}

.u-section-1 .u-image-1 {
  width: 1016px;
  height: 571px;
  margin: 50px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2003px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 111px;
    margin-right: 561px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 214px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 43px;
    margin-left: 480px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 480px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 480px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 211px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 235px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 161px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 161px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 161px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 161px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: auto;
    margin-left: 540px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 170px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-16 {
    margin-right: auto;
    margin-left: 480px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 129px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: auto;
    margin-left: 480px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 129px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 528px;
    margin-top: 192px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1724px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 42px;
    margin-right: 446px;
    margin-left: 103px;
  }

  .u-section-1 .u-text-4 {
    font-weight: 700;
    margin-top: -5px;
    margin-right: auto;
    margin-left: 431px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 43px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
    margin-left: 378px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 43px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 378px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 43px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 378px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 43px;
    margin-left: 127px;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
    margin-left: 451px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 44px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: auto;
    margin-left: 377px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 44px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: auto;
    margin-left: 377px;
  }

  .u-section-1 .u-btn-13 {
    margin-right: auto;
    margin-left: 377px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: auto;
    margin-left: 377px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 49px;
    margin-left: 437px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 43px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 377px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 43px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 44px;
    margin-left: 377px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 44px;
  }

  .u-section-1 .u-image-1 {
    height: 404px;
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 911px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -855px;
    margin-right: 356px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 229px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -260px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 276px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -313px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 276px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -313px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 276px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 70px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 176px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -207px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 170px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -207px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 170px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-13 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-14 {
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 339px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: -307px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-15 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 276px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-17 {
    margin-top: -313px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 276px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-19 {
    margin-top: -313px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 348px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 981px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -946px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 234px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -252px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 268px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -305px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 268px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -305px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 268px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 75px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 181px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -199px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 162px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -199px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 162px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 335px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -286px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 268px;
  }

  .u-section-1 .u-btn-17 {
    margin-top: -305px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 268px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: -305px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 357px;
    object-position: 0% 50%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}