 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 973px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 28px 274px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -39px auto 0 251px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 12px auto 0 217px;
  padding: 10px 84px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -45px auto 0 651px;
  padding: 10px 84px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 12px auto 0 651px;
  padding: 10px 91px 10px 90px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: -45px auto 0 217px;
  padding: 10px 76px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: 12px auto 0 651px;
  padding: 10px 76px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: -45px auto 0 217px;
  padding: 10px 33px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  margin: 12px auto 0 651px;
  padding: 10px 33px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  margin: -45px auto 0 217px;
  padding: 10px 67px 10px 65px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  margin: 12px auto 0 651px;
  padding: 10px 67px 10px 65px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  margin: -45px auto 0 217px;
  padding: 10px 41px 10px 39px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  margin: 12px auto 0 651px;
  padding: 10px 41px 10px 39px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  margin: -45px auto 0 217px;
  padding: 10px 75px 10px 74px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  margin: 12px auto 0 651px;
  padding: 10px 75px 10px 74px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  margin: -45px auto 0 217px;
  padding: 10px 83px 10px 81px;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  margin: 12px 217px 0 auto;
  padding: 10px 35px 10px 33px;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  margin: -45px 370px 0 auto;
  padding: 10px 24px 10px 22px;
}

.u-section-1 .u-text-4 {
  margin: 48px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: auto;
    margin-left: 573px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 186px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 152px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 517px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 517px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -46px;
    margin-left: 152px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 517px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 152px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 517px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 152px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 517px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 152px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 517px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 152px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 517px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 152px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: auto;
    margin-left: 648px;
  }

  .u-section-1 .u-btn-16 {
    margin-right: auto;
    margin-left: 517px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 475px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 234px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 42px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-left: 272px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 272px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: 42px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 272px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-left: 42px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -58px;
    margin-left: 272px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 98px;
    margin-left: 42px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -131px;
    margin-left: 272px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 171px;
    margin-left: 42px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -204px;
    margin-left: 272px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 244px;
    margin-left: 42px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -277px;
    margin-left: 272px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 317px;
    margin-left: 42px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: -350px;
    margin-left: 272px;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 176px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 426px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 331px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 150px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -45px;
    margin-left: 57px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 57px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -46px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 57px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -45px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 57px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -45px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 57px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -45px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 57px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -45px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 57px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: -45px;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 92px;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 91px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }
}